@font-face {
	font-family: 'Orange';
	src:url('../fonts/Orange.eot?-1nipkj');
	src:url('../fonts/Orange.eot?#iefix-1nipkj') format('embedded-opentype'),
		url('../fonts/Orange.woff?-1nipkj') format('woff'),
		url('../fonts/Orange.ttf?-1nipkj') format('truetype'),
		url('../fonts/Orange.svg?-1nipkj#Orange') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Orange';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
    margin-right: 8px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-recycle:before {
	content: "\e626";
}

.icon-secure:before {
	content: "\e627";
}

.icon-expert:before {
	content: "\e628";
}

.icon-forklift:before {
	content: "\e629";
}

.icon-saw:before {
	content: "\e62a";
}

.icon-truck:before {
	content: "\e62b";
}

.icon-mastercard:before {
	content: "\e62c";
}

.icon-visa:before {
	content: "\e62d";
}

.icon-amex:before {
	content: "\e62e";
}

.icon-discover:before {
	content: "\e62f";
}

.icon-facebook:before {
	content: "\e630";
}

.icon-instagram:before {
	content: "\e631";
}

.icon-pinterest:before {
	content: "\e632";
}

.icon-twitter:before {
	content: "\e633";
}

.icon-angle:before {
	content: "\e600";
}

.icon-flat:before {
	content: "\e601";
}

.icon-flat-radiused:before {
	content: "\e602";
}

.icon-h-section:before {
	content: "\e603";
}

.icon-half-round:before {
	content: "\e604";
}

.icon-hex:before {
	content: "\e605";
}

.icon-hex-hollow:before {
	content: "\e606";
}

.icon-round-rod:before {
	content: "\e607";
}

.icon-round-tube:before {
	content: "\e608";
}

.icon-square-hollow:before {
	content: "\e609";
}

.icon-tee-bar:before {
	content: "\e60a";
}

.icon-z-bar:before {
	content: "\e60b";
}

.icon-cabinet:before {
	content: "\e60c";
}

.icon-case:before {
	content: "\e60d";
}

.icon-closet:before {
	content: "\e60e";
}

.icon-pulls:before {
	content: "\e60f";
}

.icon-rails:before {
	content: "\e610";
}

.icon-tracks:before {
	content: "\e611";
}

.icon-corners:before {
	content: "\e612";
}

.icon-divider:before {
	content: "\e613";
}

.icon-j-cap:before {
	content: "\e614";
}

.icon-clip-hd:before {
	content: "\e615";
}

.icon-clip-one:before {
	content: "\e616";
}

.icon-clip-two:before {
	content: "\e617";
}

.icon-clip-xl:before {
	content: "\e618";
}

.icon-z-hanger:before {
	content: "\e619";
}

.icon-ez:before {
	content: "\e61a";
}

.icon-slatwall-panel:before {
	content: "\e61b";
}

.icon-price-tag:before {
	content: "\e61c";
}

.icon-slatwall:before {
	content: "\e61d";
}

.icon-snap-frame:before {
	content: "\e61e";
}

.icon-trim-grooved:before {
	content: "\e61f";
}

.icon-trim-heavy:before {
	content: "\e620";
}

.icon-trim-round:before {
	content: "\e621";
}

.icon-trim-rounded:before {
	content: "\e622";
}

.icon-trim:before {
	content: "\e623";
}

.icon-quad:before {
	content: "\e624";
}

.icon-t-track:before {
	content: "\e625";
}

